<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>System Admin </title>

    <!-- Bootstrap Core CSS -->
    <link href= "static/css/bootstrap.min.css" rel="stylesheet">


    <!-- MetisMenu CSS -->
    <link href="static/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
 <!-- Morris Charts CSS -->
    <link href="static/css/morris.css" rel="stylesheet">
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('admin') }}">Docker Admin </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 1%">
                                            <span class="sr-only">69% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                      
                        <li>
                            <a href="index.html"><i class="fa  fa-linux fa-fw"></i> OS Type : {{ cont['OSType'] }}</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> About System<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Server Version : {{ cont['ServerVersion'] }}</a>
                                </li>
                                <li>
                                    <a href="morris.html">Kernel Version : {{ cont['KernelVersion'] }}</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="{{ url_for('admin') }}"><i class="fa fa-table fa-fw"></i> Manage Containers</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-users fa-fw"></i> Manage Users</a>
                        </li>
                        <li>
                            <a href="{{ url_for('network_admin') }}"><i class="fa fa-sitemap fa-fw"></i> Network</a>
                            
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Manage Volumes<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="active" href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Resource Monitoring</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-list-alt fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">RAM</div>
                                    <div> {{ mymemory['free']/1024-((mymemory['free']/1024)%1) }} MB</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Free Memory</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ cont['ContainersRunning'] }}</div>
                                    <div> Active Containers</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ url_for('image_admin') }}">
                            <div class="panel-footer">
                                <span class="pull-left">Create Container</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-sitemap fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>Network Nodes</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ url_for('network_admin') }}">
                            <div class="panel-footer">
                                <span class="pull-left">Manage Networks</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            </div>



<!-- networks table -->
			{% if net %}
                        <div class="panel-body">
				<h2> Networks </h2>
				<form method="post">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
					    <th>Name</th>
                                            <th>IPAM</th>
                                            <th>Scope</th>
                                            <th>Id</th>
                                            <th>Containers</th>
					    
                                        </tr>
                                    </thead>
                                    <tbody>
					
					{% for c in net %}
                                        <tr>
					    
                                            <td>{{ c['Name'] }}</td>
                                            <td> Subnet :</br>Config : {{ c['IPAM']['Config'][0] }} </br> Driver : {{ c['IPAM']['Driver'] }}</br>Options : {{ c['IPAM']['Options'] }}</td>
                                            <td>{{ c['Scope'] }}</td>
                                            <td>{{ c['Id'][0:12] }}</td>
					    <td>{% for n in c['Containers'] %}-------------</br>IPv4Address : {{ c['Containers'][n]['IPv4Address'] }}</br>MacAddress : {{ c['Containers'][n]['MacAddress'] }}</br>Name : {{ c['Containers'][n]['Name'] }} </br>Id : {{ n[0:12] }}</br> {% endfor %} </td>
                                           
                                        </tr>
					{% endfor %}
                                    

    					{% endif %}




  <!-- Containers table -->
			{% if lst %}
                        <div class="panel-body">
				<h2> Containers </h2>
				<form method="post">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
					    <th>CHECK</th>
                                            <th>CREATED</th>
                                            <th>IMAGE</th>
                                            <th>STATUS</th>
                                            <th>COMMAND</th>
					    <th>NAME</th>
					    <th>PORTS</th>
					    <th>CONTAINER ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
					
					{% for c in lst %}
                                        <tr>
					    <td>
	    					  <input type="checkbox" value="world" name="{{ c['Id'][0:12] }}" >
	     					  </td>
                                            <td>{{ c['Created'] }}</td>
                                            <td>{{ c['Image'] }}</td>
                                            <td>{{ c['Status'] }}</td>
                                            <td>{{ c['Command'] }}</td>
					    <td>{{ c['Names'][0] }}</td>
                                            <td>{{ c['Ports'][0] }}</td>
					    <td>{{ c['Id'][0:12] }}</td>
                                        </tr>
					{% endfor %}
                                    



					
					
                            
				</tbody>
                                </table>
				</div>
             				    <div class="form-group">
                                            <label>Select Action</label>
                                            <div class="radio">
                                                <label>
                                                    <input type="checkbox" name="remove" id="optionsRadios1" value="option1" checked>Remove 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="checkbox" name="start" id="optionsRadios2" value="option2">Start
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="checkbox" name="stop" id="optionsRadios3" value="option3">Stop
                                                </label>
                                            </div>
                                        </div>
				<Button type="submit" class="btn btn-default"><i class="fa fa-power-off fa-x"></i> Submit</Button>
				</form>
				
                            {% endif %}

 <!-- Images table -->  {% if img %}
                        <div class="panel-body">
				<h2> Create Containers </h2>
                            <div class="table-responsive">
				<h3> Images </h3>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
					    <th>CHECK</th>
                                            <th>CREATED</th>
                                            <th>SIZE</th>
                                            <th>RepoTags</th>
                                            <th>IMAGE ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
					{% for i in img %}
                                        <tr>
					    <td><form method="post">
	    					  <input type="checkbox" name="{{ i['Id'][7:19] }}" >
	     					  </td>
                                            <td>{{ i['Created'] }}</td>
                                            <td>{{ (i['Size']/1000000)-(i['Size']/1000000)%1 }}MB</td>
                                            <td>{{ i['RepoTags'][0] }}</td>
                                            <td>{{ i['Id'][7:19] }}</td>
                                        </tr>
					{% endfor %}
                                    </tbody>
                                </table>
				<div class="form-group">
                                            <label>Command</label>
                                            <input class="form-control" placeholder="Enter Command" name="command">
                                        </div>
				<div class="form-group">
                                            <label>Name </label>
                                            <input class="form-control" placeholder="Enter Name" name="name">
                                        </div>
				<div class="form-group">
                                            <label>Port</label>
                                            <input class="form-control" placeholder="Enter Port" name="port">
                                        </div>
				<Button class="btn btn-default"><i class="fa  fa-sliders fa-x"></i> Create</Button>
                            </div></form>
                            <!-- /.table-responsive -->

    				{% endif %}
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
               

 


















            <!-- /.container-fluid -->
        </div>


    </div>

    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://github.com/IronSummitMedia/startbootstrap-sb-admin-2/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://github.com/IronSummitMedia/startbootstrap-sb-admin-2/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="https://github.com/IronSummitMedia/startbootstrap-sb-admin-2/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="https://github.com/IronSummitMedia/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>

</body>

</html>
